<!DOCTYPE html>
<html>
  <head>
	<title><%= @title %> : Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
	<h1>About us</h1>
	<p>
		<a href = "http://railstutorial.org/">Ruby on Rails Tutorial</a>
		is an awesome book by <a href = "http://twitter.com/mhartl">Michael Hartl</a>.
	</p>
  </body>
</html>